.body {
	padding: 12px;
	padding-bottom: 36px;
}

/* .sectionTitle {
	font-size: 32px;
	font-weight: 700;
} */

/* Move the skills styling to it's own Skill.module.css file*/
/* .skillIcon {
		font-size: 60px;
	}

	.skillsList {
		justify-content: center;
		max-width: 100%;
	}

	.skillsSection {
		flex-direction: column;
		align-items: center;
	} */

/* Move the skills styling to it's own Skill.module.css file*/
