.main {
	width: 100%;
	height: calc(100vh - 70px);
	box-sizing: border-box;
	background-color: #edf1fd;
	display: flex;
	justify-content: center;
	align-items: center;
	/*position: relative;*/
	background-repeat: no-repeat;
	background-size: 1330px;
	background-position: right bottom;
	padding: 0 50px;
}

.nameContainer {
	font-family: calibre;
	width: 100%;
	max-width: 1100px;
	/*position: absolute;*/
	/*left: 20%;*/
	/*top: 50%;*/
	/*transform: translate(-20%, -50%);*/
}

.name {
	width: 500px;
}

.name p:nth-child(1), /* nth-child targets the specific p in a div*/
.name .details {
	color: #6c707c;
	/*font-size: 18px;*/
	line-height: 1.5em;
}

.name h1 {
	font-family: Poppins;
	font-size: 40px;
	margin: 0px;
	letter-spacing: 3px;
	color: #292929;
}

.name span {
	color: var(--text-primary);
	/* color: #17d1ac; */
}

.buttonContainer {
	display: flex;
}

.cvButton {
	width: 200px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #292929;
	color: #ffffff;
	border-radius: 3px;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.cvButton:hover {
	background-color: #131313;
	transition: all ease 0.05s;
}

/*@media (max-width: 1190px) {*/
/*	.name {*/
/*		left: 10%;*/
/*		top: 50%;*/
/*		transform: translate(-10%, -50%);*/
/*	}*/
/*}*/

/*@media (max-width: 970px) {*/
/*	.name {*/
/*		left: 50%;*/
/*		top: 50%;*/
/*		transform: translate(-50%, -50%);*/
/*	}*/
/*}*/

@media (max-width: 600px) {
	.name {
		width: 100%;
	}

	.buttonContainer {
		display: block;
	}
}
