.projects {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-top: 24px;
	margin-bottom: 32px;
}

.projectSectionTitle {
	font-size: 32px;
	font-weight: 700;
}

/*This is the Project Card CSS starts*/

.projectCard {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0px;
	padding: 8px 0px;
}

.projectInfo {
	margin-right: 24px;
}

.projectTitle {
	font-size: 20px;
	font-weight: 600;
}

.projectLinks {
	display: flex;
	margin-top: 6px;
}

.projectLinks a {
	text-decoration: none;
	color: black;
}

.projectLink {
	text-decoration: none;
	color: black;
}

.projectLinkButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 16px;
	margin-right: 6px;
	background-color: aquamarine;
}

/* .projectLinkButton i {
	display: flex;
	align-items: center;
	mask-repeat: 4px;
} */

.projectLinkButtonIcon {
	display: flex;
	align-items: center;
	mask-repeat: 4px;
	margin-right: 4px;
}

.projectTags {
	/* display: flex; */
	max-width: 60%;
	flex-wrap: wrap;
}

.projectTag {
	padding: 4px 8px;
	border-radius: 4px;
	margin-right: 6px;
	margin-bottom: 4px;
	background-color: #4ffbdf;
}

.projectDescription {
	text-align: justify;
	display: -webkit-box; /* info from stack overflow */
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical; /* orientation */
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 80%;
}

.projectPhoto {
	width: 40%;
}
/*This is the Project Card CSS ends*/

@media only screen and (max-width: 720px) {
	.projectPhoto {
		width: 100%;
	}

	.projectCard {
		flex-direction: column-reverse;
	}

	.projectInfo {
		margin-left: 0px;
		margin-top: 12px;
		width: 95%;
	}

	.projectTags {
		max-width: 100%;
	}
}
